<nav class="navbar">
  <div class="nav-left">
    <span class="logo">🎯 Mi App</span>
  </div>

  <div class="nav-right">
    <a routerLink="/quiensoy" class="nav-link">Quién soy</a>

    <ng-container *ngIf="(user$ | async) as user">
      <span class="nav-link user-nick">👤 {{ user.nick }}</span>
      <button class="btn btn-logout" (click)="logout()">Cerrar sesión</button>
    </ng-container>
  </div>
</nav>

<div class="home-container">
  <ng-container *ngIf="(user$ | async) as user">
    <p class="welcome">Bienvenido <b>{{ user.nick }}</b>!</p>
    <div class="options">
      <button class="btn" (click)="router.navigate(['/juegos'])">🎮 Juegos</button>
      <button class="btn" (click)="router.navigate(['/listados'])">📋 Listados</button>
    </div>
  </ng-container>
</div>
