<p-toast position="top-right" [baseZIndex]="10000"></p-toast>

<div class="login-container">
  <form autocomplete="off" class="form" (ngSubmit)="submit()" [formGroup]="form">
    <h1>Inicio de sesión</h1>

    <div class="control">
      <input name="email" placeholder="Email" type="text" formControlName="email">
      <small *ngIf="esRequerido('email')">Este campo es requerido</small>
      <small *ngIf="esEmailValido()">El email no es válido</small>
    </div>

    <div class="control">
      <input name="password" placeholder="Contraseña" type="password" formControlName="password">
      <small *ngIf="esRequerido('password')">Este campo es requerido</small>
      <!-- Mensaje de formato de contraseña -->
      <small *ngIf="form.get('password')?.touched && form.get('password')?.hasError('pattern')">
        La contraseña debe tener al menos 6 caracteres, incluyendo una mayúscula y una minúscula
      </small>
      
      <!-- Mensaje de contraseña demasiado corta -->
      <small *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">
        La contraseña debe tener mínimo 6 caracteres
      </small>
    </div>

    <button class="btn" type="submit">Iniciar sesión</button>
    
    <p class="link">
      ¿No tienes cuenta? 
      <a href="#" (click)="irRegistro($event)">Regístrate aquí</a>
    </p>
  </form>

  <!-- 🔹 Acceso rápido -->
  <div class="acceso-rapido">
    <h3>Acceso rápido 🚀</h3>
    <div class="botones">
      <button *ngFor="let user of usuariosRapidos"
              class="btn-rapido"
              (click)="loginRapido(user)">
        {{ user.label }}
      </button>
    </div>
  </div>
</div>

<!-- Overlay global de loading -->
<div class="overlay" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
