<p-toast position="top-right" [baseZIndex]="10000"></p-toast>

<div class="login-container">
  <form autocomplete="off" class="form" (ngSubmit)="submit()" [formGroup]="form">
    <h1>Inicio de sesión</h1>

    <div class="control">
      <input name="email" placeholder="Email" type="text" formControlName="email">
      <small *ngIf="esRequerido('email')">Este campo es requerido</small>
      <small *ngIf="esEmailValido()">El email no es válido</small>
    </div>

    <div class="control">
      <input name="contraseña" placeholder="Contraseña" type="password" formControlName="contraseña">
      <small *ngIf="esRequerido('contraseña')">Este campo es requerido</small>
    </div>

    <button class="btn" type="submit">Iniciar sesión</button>
  </form>
</div>
