/* You can add global styles to this file, and also import other style files */
/* Reset de márgenes y padding del body y html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000; /* fondo negro para toda la pantalla */
}