/* Reset y fondo negro global */
html, body, app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000; /* fondo negro */
  overflow-x: hidden; /* evita scroll horizontal no deseado */
}
